<h1>Calculator</h1>
<div class="addition">
  <h2>Addition: Enter two numbers to get the sum:</h2>
  <%= form_tag "/add", method: :post do %>
    <p>Number 1: <input type="text" name="number_one" placeholder="First Number"></p>
    <p>Number 2: <input type="text" name="number_two" placeholder="Second Number"></p>
    <input type="submit" value="Add Em Up!">
  <% end %>
</div>

 <div class="substraction">
  <h2>Addition: Enter two numbers to get the sum:</h2>
  <%= form_tag "/subtract", method: :post do %>
    <p>Number 1: <input type="text" name="number_one" placeholder="First Number"></p>
    <p>Number 2: <input type="text" name="number_two" placeholder="Second Number"></p>
    <input type="submit" value="Get the difference!">
  <% end %>
  </div>